DJANGO_SETTINGS_MODULE=config.settings
DJANGO_SECRET_KEY=django-insecure-very-secret
DJANGO_DEBUG=1
SITE_URL=http://localhost

DB_ENGINE=django.db.backends.postgresql
DB_NAME=comments
DB_USER=comments
DB_PASSWORD=comments
DB_HOST=postgres
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
