# Python
__pycache__/
*.py[cod]
.python-version

venv/
.venv/

# Django
.env
.env.*
!.env.example
attachments/
staticfiles/
media/
db.sqlite3

# Node / Vue
node_modules/
dist/

# Tests
.coverage
htmlcov/
.pytest_cache/

# Docker
*.log
docker-data/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

